<footer id="support-footer">
  <div id="footer-container">
    <img src="{{ 'support-tor.png' | asseturl }}">
    <h2>{{ _("Need support?") }}</h2>
    <p>{{ _("If you need support with anything that has to do with Tor, the Tor support channel can be reached on Telegram. There's also a dedicated active forum where anyone can post a question, feedback, or concern.") }}</p>
    <div id="social-button-container">
      <div class="social-button">
        <a href="https://t.me/TorProjectSupportBot" class="button"><img src="{{ 'telegram-brands.svg' | asseturl }}" class="rtl-hide">{{ _('Get support on Telegram') }}<img src="{{ 'telegram-brands.svg' | asseturl }}" class="rtl-show"></a>
      </div>
      <div class="social-button">
        <a href="https://forum.torproject.net/" class="button"><img src="{{ 'discourse-brands.svg' | asseturl }}" class="rtl-hide">{{ _('Visit the Tor Project forum') }}<img src="{{ 'discourse-brands.svg' | asseturl }}" class="rtl-show"></a>
      </div>
    </div>
</footer>
