<div id="site-header">
  <div id="navigation-container">
    <div id="site-logo">
      <img src="{{ '/logo-temp.png'|asseturl }}">
    </div>
    <ul id="nav-list">
      <li><a href="#step1">{{ _('Download') }}</a></li>
      <li><a href="#step2">{{ _('Connect') }}</a></li>
      <li><a href="#step3">{{ _('Access') }}</a></li>
      <li><a href="#support-footer">{{ _('Support') }}</a></li>
    </ul>
    <div id="language-select" onmouseleave="hideLanguageSelect()">
      <div id="language-select-button" class="button" onmouseover="showLanguageSelect()" onmousedown="clickHandler()">
        <div id="language-select-text">{{ site.config.get_alternative(this.alt).name.en.strip('(' + this.alt + ')').strip() }}<i class="chevron-down"></i></div>
      </div>
      <div id="language-dropdown">
        {% for alt in site.config.iter_alternatives() %}
          <a href="{{ '.'|url(alt=alt) }}" class="dropdown-item">{{ site.config.get_alternative(alt).name.en }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <ul id="nav-list-mobile">
    <li><a href="#step1">{{ _('Download') }}</a></li>
    <li><a href="#step2">{{ _('Connect') }}</a></li>
    <li><a href="#step3">{{ _('Access') }}</a></li>
    <li><a href="#support-footer">{{ _('Support') }}</a></li>
  </ul>
</div>
