{%- from 'macros/helpers.jinja2' import os_names, theme_color -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ envvars('SERVICE_NAME') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ '/main.js' | asseturl }}"></script>
    <link rel="stylesheet" href="{{ 'fonts.css' | asseturl }}">
    <style>
     body {
       background-color: #fcfdfb;
       font-family: NotoSans;
       margin: 0;
     }
     h1 {
       font-size: 44px;
       font-family: NotoSansBlack;
     }
     h2 {
       font-size: 30px;
       font-family: NotoSansBold;
     }
     a {
       text-decoration: none;
       color: {{ theme_color('FOREGROUND_COLOR') }};
     }
     p {
       font-size: 18px;
     }
     #navigation-container {
       display: flex;
       justify-content: space-between;
       padding: 0 2%;
     }
     #site-header {
       background-color: {{ theme_color('FOREGROUND_COLOR', 7.5) }};
       padding: 0;
     }
     #nav-list, #nav-list-mobile {
       list-style-type: none;
       padding-top: 10px;
       padding-bottom: 10px;
       display: inline;
       text-align: center;
       vertical-align: top !important;
       //padding-left: 14%;
       padding-left: 0;
     }
     #site-header li {
       padding: 16px;
       display: inline;
       list-style-type: none;
     }
     #site-header li a {
       color: black;
       line-height: 90px;
       padding: 5px 15px;
     }
     .shape {
       position: absolute;
       overflow: hidden;
       height: 80px;
       width: 100%;
     }
     .shape::before {
       border-radius: 100%;
       position: absolute;
       background: {{ theme_color('FOREGROUND_COLOR', 7.5) }};
       right: -200px;
       left: -200px;
       top: -200px;
       content: '';
       bottom: 0;
       z-index: -100;
     }
     #content {
       margin: 0 auto;
       margin-bottom: 6%;
     }
     #header-container {
       background-color: {{ theme_color('FOREGROUND_COLOR', 7.5) }};
       margin: 0;
       padding-left: 10%;
       padding-right: 8%;
     }
     #header-container * {
       margin: 0;
     }
     #page-content {
       margin: 2% auto;
       margin-bottom: 72px;
       width: 82vw;
       border-radius: 13px;
       background-color: white;
       box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
       padding: 3% 5%;
       box-sizing: border-box;
     }
     .parent {
       display: flex;
       justify-content: space-between;
     }
     #steps-container {
       width: 82vw;
       margin: 0 auto;
     }
     #steps-container > .parent {
       margin-bottom: 72px;
     }
     .step-text {
       width: 50%;
     }
     .onion-url-container {
       background-color: {{ theme_color('BUTTON_COLOR', 10) }};
       display: inline-block;
       padding: 1%;
       border-radius: 10px;
       padding-right: 8px;
     }
     .onion-url-container:hover {
       background-color: {{ theme_color('BUTTON_COLOR', 25) }};

       /* The .button:hover rule underlines the whitespace in the url container, we don't want that */
       text-decoration: none !important;
     }
     .onion-url-container:hover span {
       text-decoration: underline;
     }
     .onion-url-container:active {
       background-color: {{ theme_color('BUTTON_COLOR', 40) }};
     }
     .onion-url-container p {
       color: {{ theme_color('FOREGROUND_COLOR') }};
       display: inline;
     }
     .button {
       background-color: {{ theme_color('BUTTON_COLOR') }};
       padding: 1.5%;
       border-radius: 50px;
       box-shadow: 2px 4px {{ theme_color('BUTTON_COLOR', opacity=20) }};
       padding-right: 2.25%;
       font-family: NotoSansSemibold;
       height: 56px;
       width: max-content;
       padding-right: 16px;
       padding-left: 16px;
       color: white;
       display: inline-block;
     }
     .button:hover {
       background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), {{ theme_color('BUTTON_COLOR') }};
     }
     .button:active {
       background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), {{ theme_color('BUTTON_COLOR') }};
     }
     .button a {
       color: white;
     }
     a:hover {
       text-decoration: underline;
     }
     .onion-glyph-download {
       height: 20px;
       width: 20px;
       padding: 10px;
       padding-top: 5px;
       transform: translateY(11px);
       filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(246deg) brightness(105%) contrast(101%);
       background-size: contain;
       display: inline-block;
       background: url({{ 'onion-glyph.svg' | asseturl }});
       background-size: 24px;
       background-repeat: no-repeat;
       background-position: center;
     }
     .onion-url-lock {
       transform: translateY(4px);
       filter: {{ envvars('ONION_URL_LOCK_FILTER') }};
       display: inline-block;
       background-image: url({{ 'onion-site-lock.svg' | asseturl }});
       width: 32px;
       height: 32px;
       background-repeat: no-repeat;
       background-size: contain;
     }
     #support-footer {
       width: 100%;
       background-color: white;
       box-shadow: 0 0 30px #0000001a;
       padding-top: 5%;
       padding-bottom: 5%;
     }
     .chevron-down {
       background-image: url({{ 'chevron-down-solid.svg' |asseturl }});
       width: 20px;
       height: 20px;
       background-repeat: no-repeat;
       float: right;
     }
     summary.no-marker {
       list-style: none;
     }
     details[open] > summary > i.chevron-down {
       transform: rotate(180deg);
     }
     details.collapsible-text > summary {
       font-weight: bold;
       background-color: rgba(0, 0, 0, 0.03);
       padding: 2%;
       border-radius: 5px;
       font-size: 1em;
       border: 1px solid rgba(0, 0, 0, 0.05);
     }
     details[open].collapsible-text > summary {
       border-radius: 5px 5px 0 0;
     }
     details.collapsible-text {
       border-radius: 5px;
       border: 1px solid rgba(0, 0, 0, 0.05);
     }
     details.collapsible-text > summary:hover {
       background-color: rgba(0, 0, 0, 0.09);
       cursor: pointer;
     }
     details.collapsible-text > summary:active {
       background-color: rgba(0, 0, 0, 0.15);
     }
     details.collapsible-text > div.details-container {
       padding: 0 5%;
       color: rgba(0, 0, 0, 0.54);
     }
     .onion-url-desktop {
       display: none !important;
       font-size: 1em;
     }
     .onion-url-desktop, .onion-url-mobile {
       font-weight: bold;
       font-size: 16px;
     }
     .social-button {
       margin-top: 2%; margin-bottom: 5%; display: inline; margin-right: 2%;
     }
     #footer-container {
       margin: 0 auto;
       text-align: center;
       width: 36vw;
     }
     #steps-container > div.parent:nth-child(2n) {
       flex-direction: row-reverse;
     }
     #footer-container > img:first-child {
       width: 175px;
       height: 175px;
     }
     .details-container li {
       font-size: 18px;
     }
     .details-container h3 {
       font-weight: bold;
     }
     .child.step-text h2 {
       margin-bottom: 16px;
     }
     .child.step-text details {
       margin-top: 32px;
     }
     .circle-bg {
       display: inline-block;
       width: 275px;
       height: 275px;
       position: absolute;
       background-color: {{ theme_color('BACKGROUND_COLOR', 10) }};
       z-index: -1;
       border-radius: 100%;
     }
     #site-intro {
       display: inline-block;
       margin-top: 2%;
     }
     .onion-glyph-download.rtl-show {
       display: none;
     }
     .social-button img.rtl-show {
       display: none;
     }
     .onion-url-desktop span {
       display: inline-block;
       transform: translateY(-7px);
     }
     #download-tor-button {
       margin-top: 2%;
       margin-bottom: 5%;
     }
     #os-span-data {
       display: none !important;
     }
     #language-select:hover #language-dropdown {
       display: block;
     }
     #language-dropdown {
       overflow: auto;
       height: 70vh;
     }

     /* tablet */
     /* some of these rules aren't overriden on mobile, so they affect mobile too*/
     @media (max-width: 999px) {
       .child > img {
         width: 275px;
       }
       h1 {
         font-size: 2em;
       }
       h2 {
         font-size: 1.5em;
       }
       #footer-container {
         width: 90vw;
       }
       #steps-container {
         width: 90vw;
       }
       #nav-list {
         display: none;
       }
       #nav-list-mobile {
         margin-bottom: 0;
         margin-top: 0;
         padding: 1% 0 1% 0 !important;
         justify-content: space-around;
         background-color: {{ theme_color('BACKGROUND_COLOR', 15) }};
         display: block;
       }
       #nav-list > li, #nav-list-mobile > li  {
         margin: 0;
         padding: 0;
       }
       #nav-list > li > a, #nav-list-mobile > li > a {
         padding-top: 0 !important;
         padding-bottom: 0 !important;
         line-height: initial !important;
       }
       #language-select {
         position: absolute;
         top: 0;
         right: 0;
         margin-top: 2.75% !important;
       }
       #nav-list li a, #nav-list-mobile li a {
         color: {{ theme_color('FOREGROUND_COLOR') }};
         font-weight: bolder;
       }
       h1 {
         font-size: 32px;
       }
       h2 {
         font-size: 28px;
       }
       h3 {
         font-size: 18px;
       }
       p {
         font-size: 16px;
       }
       .button {
         font-size: 14px;
       }
       .social-button:first-child {
         margin-right: 16px !important;
       }
       #social-button-container {
         justify-content: center !important;
       }
       #header-container {
         padding-top: 7%;
         padding-bottom: 5%;
       }
       .details-container li {
         font-size: 16px;
       }
     }

     /* desktop */
     @media (min-width: 1000px) {
       .onion-url-desktop {
         display: inline-block !important;
       }
       .onion-url-mobile {
         display: none !important;
       }
       .circle-bg {
         width: 400px;
         height: 400px;
       }
       #nav-list {
         margin-top: 0;
         padding-top: 0;
         display: flex !important;
       }
       #nav-list-mobile {
         display: none;
       }
     }

     /* mobile */
     @media(max-width: 650px) {
       #download-tor-button {
         text-align: center;
       }
       div.onion-url {
         text-align: center;
         padding-top: 16px;
         padding-bottom: 16px;
       }
       #site-intro {
         width: unset !important;
         padding-top: 15% !important;
       }
       #steps-container > div.parent {
         flex-direction: column-reverse !important;
       }
       .step-text {
         width: 100%;
       }
       .social-button {
         display: block;
       }
       .social-button:not(last-child) {
         margin-bottom: 2%;
       }
       #social-button-container {
         flex-direction: column;
       }
       #header-image {
         display: none !important;
       }
       #nav-list-mobile {
         padding: 5% 0 5% 0 !important;
       }
       #header-container {
         display: block;
       }
       #header-container > div.child:first-child {
         display: block !important;
         width: 90vw;
         margin: 0 auto !important;
         padding-top: 2%;
       }
       #page-content {
         width: 90vw;
       }
       #language-dropdown {
         width: 90vw;
         padding: 15% 15% 15% 15%;
       }
       #language-select {
         margin-top: 5% !important;
       }
       /* center step images for mobile */
       #steps-container div.child > img {
         display: block;
         margin: 0 auto;
       }
       .circle-bg {
         left: 0;
         right: 0;
         margin: 0 auto;
       }
       .details-container li {
         font-size: 14px;
       }
       p {
         font-size: 14px;
       }
       summary {
         font-size: 0.8em !important;
       }
     }

     .social-button img {
       height: 20px;
       width: 20px;
       padding: 10px;
       padding-top: 10px;
       padding-top: 10px;
       padding-top: 5px;
       transform: translateY(13px);
       filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(246deg) brightness(105%) contrast(101%);
       background-size: contain;
       display: inline-block;
     }
     #social-button-container {
       display: flex;
       justify-content: space-around;
     }

     #language-select {
       margin-top: 1.5%;
       border: none;
     }
     #language-select i.chevron-down {
       filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(258deg) brightness(104%) contrast(102%);
     }
     #language-dropdown {
       background-color: white;
       padding: 1%;
       position: absolute;
       box-sizing: border-box;
       right: 2%;
       display: none;
       border-radius: 15px;
       z-index: 1;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.15);
     }
     .dropdown-item {
       display: block;
       text-decoration: none;
       font-weight: bold;
       color: black;
     }
     #language-select-button {
       border: none;
       width: 145px;
       height: 56px;
     }
     #language-select-text {
       padding-top: 12%; margin-right: 16px; margin-left: 24px;
     }

     @media (max-width: 1000px) {
       #language-select-button {
         height: 48px;
       }
       #language-select-text {
         padding-top: 10%;
       }
     }

     @media (max-width: 575px) {
       #language-select-button {
         height: 40px;
       }
       #language-select-text {
         padding-top: 7%;
       }
     }

     #site-description {
       margin-top: 2%;
       margin-bottom: 2%;
     }
     #page-content h2 {
       margin-top: 0;
     }

     .onion-url-desktop {
       padding: 2%;
     }
     .onion-url-desktop .onion-url-span-uncopied {
       display: none;
     }
     .onion-url-desktop .onion-url-span-copied {
       display: none;
       margin-top: 15px !important;
     }

     .onion-url-mobile {
       padding: 2%;
       width: max-content;
     }
     .onion-url-mobile .onion-url-span-uncopied {
       display: none;
       transform: translateY(-7px);
     }
     .onion-url-mobile .onion-url-span-copied {
       display: none;
       margin-top: 7px;
     }
    </style>
    {% if this.alt in bag('alternatives', 'rtl') %}
    <link rel="stylesheet" href="{{ 'rtl.css' | asseturl }}">
    {% endif %}
  </head>
  <body {% if this.alt in bag('alternatives', 'rtl') %}dir="RTL"{% endif %}>
    {{ os_names({
    'ipad': 'iOS',
    'iphone': 'iOS',
    'linux': 'Linux',
    'x11': 'Linux',
    'mac': 'Mac OS',
    'windows': 'Windows'
    }) }}
    {% include 'macros/header.html' %}
    <div id="content">
      <div id="header-container" class="parent">
        <div class="child" id="site-intro">
          <h1>{{ this.title }}</h1>
          <div id="site-description">
            {{ this.subtitle }}
          </div>
          {% include 'macros/onion_url.html' %}
        </div>
        <div class="child">
          <img src="{{ 'header-tor.png' | asseturl }}" id="header-image">
        </div>
      </div>
      <div class="shape"></div>
      <div id="page-content">
        <h2>{{ _('Circumvent Censorship with Tor') }}</h2>
        {{ md(_("Tor provides a way to browse the Internet anonymously, helping people **avoid both censorship and surveillance**. Tor Browser is just like any other browser you use - Chrome, Firefox, Safari, Yandex - except instead of exposing all your browsing behaviour to your Internet service provider and everyone else snooping on your traffic, it **hides your traffic** by encrypting it and letting it bounce through three random volunteer-run nodes (these nodes are also called \"relays\"). This process obfuscates who you are, where you are, and where you're going (i.e. which website you're visiting).")) }}
        {{ md(_('Tor is used by human rights defenders, activists, and people from all around the world who need to **escape censorship and surveillance**. To learn more about Tor and how it works, visit the [Tor Browser Manual](https://tb-manual.torproject.org).')) }}
      </div>
      <div id="steps-container">
        {{ this.sections }}
      </div>
    </div>
    {% include 'macros/footer.html' %}
  </body>
</html>
